streamlit==1.50.0
pandas==2.3.2
numpy==2.2.6
matplotlib==3.10.6
pdfplumber==0.11.7
pytesseract==0.3.13
Pillow==11.3.0
pdfminer.six==20250506
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
shutil
os
re

